/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'DosisExtraLight';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Dosis-200/Dosis-200.eot');
    src: url('../fonts/Dosis-200/Dosis-200.eot?#iefix') format('embedded-opentype'),
    local('Dosis ExtraLight'),
    local('Dosis-200'),
    url('../fonts/Dosis-200/Dosis-200.woff2') format('woff2'),
    url('../fonts/Dosis-200/Dosis-200.woff') format('woff'),
    url('../fonts/Dosis-200/Dosis-200.ttf') format('truetype'),
    url('../fonts/Dosis-200/Dosis-200.svg#Dosis') format('svg');
}

@font-face {
    font-family: 'DosisLight';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Dosis-300/Dosis-300.eot');
    src: url('../fonts/Dosis-300/Dosis-300.eot?#iefix') format('embedded-opentype'),
    local('Dosis Light'),
    local('Dosis-300'),
    url('../fonts/Dosis-300/Dosis-300.woff2') format('woff2'),
    url('../fonts/Dosis-300/Dosis-300.woff') format('woff'),
    url('../fonts/Dosis-300/Dosis-300.ttf') format('truetype'),
    url('../fonts/Dosis-300/Dosis-300.svg#Dosis') format('svg');
}

@font-face {
    font-family: 'Dosis';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Dosis-regular/Dosis-regular.eot');
    src: url('../fonts/Dosis-regular/Dosis-regular.eot?#iefix') format('embedded-opentype'),
    local('Dosis Regular'),
    local('Dosis-regular'),
    url('../fonts/Dosis-regular/Dosis-regular.woff2') format('woff2'),
    url('../fonts/Dosis-regular/Dosis-regular.woff') format('woff'),
    url('../fonts/Dosis-regular/Dosis-regular.ttf') format('truetype'),
    url('../fonts/Dosis-regular/Dosis-regular.svg#Dosis') format('svg');
}

@font-face {
    font-family: 'DosisMedium';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Dosis-500/Dosis-500.eot');
    src: url('../fonts/Dosis-500/Dosis-500.eot?#iefix') format('embedded-opentype'),
    local('Dosis Medium'),
    local('Dosis-500'),
    url('../fonts/Dosis-500/Dosis-500.woff2') format('woff2'),
    url('../fonts/Dosis-500/Dosis-500.woff') format('woff'),
    url('../fonts/Dosis-500/Dosis-500.ttf') format('truetype'),
    url('../fonts/Dosis-500/Dosis-500.svg#Dosis') format('svg');
}

@font-face {
    font-family: 'DosisSemiBold';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Dosis-600/Dosis-600.eot');
    src: url('../fonts/Dosis-600/Dosis-600.eot?#iefix') format('embedded-opentype'),
    local('Dosis SemiBold'),
    local('Dosis-600'),
    url('../fonts/Dosis-600/Dosis-600.woff2') format('woff2'),
    url('../fonts/Dosis-600/Dosis-600.woff') format('woff'),
    url('../fonts/Dosis-600/Dosis-600.ttf') format('truetype'),
    url('../fonts/Dosis-600/Dosis-600.svg#Dosis') format('svg');
}

@font-face {
    font-family: 'DosisBold';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Dosis-700/Dosis-700.eot');
    src: url('../fonts/Dosis-700/Dosis-700.eot?#iefix') format('embedded-opentype'),
    local('Dosis Bold'),
    local('Dosis-700'),
    url('../fonts/Dosis-700/Dosis-700.woff2') format('woff2'),
    url('../fonts/Dosis-700/Dosis-700.woff') format('woff'),
    url('../fonts/Dosis-700/Dosis-700.ttf') format('truetype'),
    url('../fonts/Dosis-700/Dosis-700.svg#Dosis') format('svg');
}

@font-face {
    font-family: 'DosisExtraBold';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Dosis-800/Dosis-800.eot');
    src: url('../fonts/Dosis-800/Dosis-800.eot?#iefix') format('embedded-opentype'),
    local('Dosis ExtraBold'),
    local('Dosis-800'),
    url('../fonts/Dosis-800/Dosis-800.woff2') format('woff2'),
    url('../fonts/Dosis-800/Dosis-800.woff') format('woff'),
    url('../fonts/Dosis-800/Dosis-800.ttf') format('truetype'),
    url('../fonts/Dosis-800/Dosis-800.svg#Dosis') format('svg');
}

