@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.title {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #536783;
  font-size: 36px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'DosisLight', 'Arial', sans-serif;
  color: #536783;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  width: 653px;
  margin: 0 auto;
}

.subtitle--whatme {
  padding-bottom: 43px;
}

.subtitle--services {
  padding-bottom: 55px;
}

.title--works {
  padding-bottom: 33px;
}

.title--tweets {
  color: white;
  padding-bottom: 17px;
  font-family: 'DosisMedium', 'Arial', sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 48px;
  font-weight: 500;
  line-height: 41px;
  text-align: center;
}

.tweets__wrap .bx-wrapper .bx-pager {
  bottom: inherit;
}

.subtitle--posts {
  padding-bottom: 56px;
}

.post_comment .fa-comments, .post__category .fa-lightbulb-o {
  color: #91a7c6;
  padding-right: 7px;
}

.subtitle--pricing {
  padding-bottom: 39px;
}

.subtitle--location {
  padding-bottom: 39px;
}

.location__map {
  width: 100%;
  height: 630px;
}