header.header
    .header_box
        .header__wrap
            .logo
                a.logo__link(href="index.html")
                    img.logo__img(src="img/logo.svg" alt="logo")

            nav.nav
                ul.nav__list
                    - var links = ['Home', 'About Us', 'Portfolio', 'Blog', 'Contact Us'];
                        each val in links
                            li.nav__item
                                a.nav__link(href="#")= val
