include mixins/layout.mixins.pug

doctype html
html(lang='en')
    head
        title 7 Heaven
        meta(charset='UTF-8')
        meta(name="description" content='Best page in the World!')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='HandheldFriendly' content='true')
        link(rel="icon" type="image/x-icon" href="img/favicon.ico")

        //build:css css/vendor.min.css
        +vendor('style', 'normalize-css/normalize.css')
        +vendor('style', 'font-awesome/css/font-awesome.css')
        +vendor('style', 'bxslider/jquery.bxslider.css')
        //endbuild
        link(rel="stylesheet" href="css/styles.min.css")
    body
        include header.pug

        block content

        include footer.pug

        script(src="js/jquery.min.js")
        script(src="js/jquery.bxslider.js")
        script(src="js/Chart.min.js")

        //build:js js/main.min.js
        script(src="../../js/slider.js")
        script(src="../../js/chart.js")
        //endbuild