/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'DosisExtraLight';
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Dosis-200/Dosis-200.eot");
  src: url("../fonts/Dosis-200/Dosis-200.eot?#iefix") format("embedded-opentype"), local("Dosis ExtraLight"), local("Dosis-200"), url("../fonts/Dosis-200/Dosis-200.woff2") format("woff2"), url("../fonts/Dosis-200/Dosis-200.woff") format("woff"), url("../fonts/Dosis-200/Dosis-200.ttf") format("truetype"), url("../fonts/Dosis-200/Dosis-200.svg#Dosis") format("svg"); }

@font-face {
  font-family: 'DosisLight';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-300/Dosis-300.eot");
  src: url("../fonts/Dosis-300/Dosis-300.eot?#iefix") format("embedded-opentype"), local("Dosis Light"), local("Dosis-300"), url("../fonts/Dosis-300/Dosis-300.woff2") format("woff2"), url("../fonts/Dosis-300/Dosis-300.woff") format("woff"), url("../fonts/Dosis-300/Dosis-300.ttf") format("truetype"), url("../fonts/Dosis-300/Dosis-300.svg#Dosis") format("svg"); }

@font-face {
  font-family: 'Dosis';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Dosis-regular/Dosis-regular.eot");
  src: url("../fonts/Dosis-regular/Dosis-regular.eot?#iefix") format("embedded-opentype"), local("Dosis Regular"), local("Dosis-regular"), url("../fonts/Dosis-regular/Dosis-regular.woff2") format("woff2"), url("../fonts/Dosis-regular/Dosis-regular.woff") format("woff"), url("../fonts/Dosis-regular/Dosis-regular.ttf") format("truetype"), url("../fonts/Dosis-regular/Dosis-regular.svg#Dosis") format("svg"); }

@font-face {
  font-family: 'DosisMedium';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-500/Dosis-500.eot");
  src: url("../fonts/Dosis-500/Dosis-500.eot?#iefix") format("embedded-opentype"), local("Dosis Medium"), local("Dosis-500"), url("../fonts/Dosis-500/Dosis-500.woff2") format("woff2"), url("../fonts/Dosis-500/Dosis-500.woff") format("woff"), url("../fonts/Dosis-500/Dosis-500.ttf") format("truetype"), url("../fonts/Dosis-500/Dosis-500.svg#Dosis") format("svg"); }

@font-face {
  font-family: 'DosisSemiBold';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Dosis-600/Dosis-600.eot");
  src: url("../fonts/Dosis-600/Dosis-600.eot?#iefix") format("embedded-opentype"), local("Dosis SemiBold"), local("Dosis-600"), url("../fonts/Dosis-600/Dosis-600.woff2") format("woff2"), url("../fonts/Dosis-600/Dosis-600.woff") format("woff"), url("../fonts/Dosis-600/Dosis-600.ttf") format("truetype"), url("../fonts/Dosis-600/Dosis-600.svg#Dosis") format("svg"); }

@font-face {
  font-family: 'DosisBold';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Dosis-700/Dosis-700.eot");
  src: url("../fonts/Dosis-700/Dosis-700.eot?#iefix") format("embedded-opentype"), local("Dosis Bold"), local("Dosis-700"), url("../fonts/Dosis-700/Dosis-700.woff2") format("woff2"), url("../fonts/Dosis-700/Dosis-700.woff") format("woff"), url("../fonts/Dosis-700/Dosis-700.ttf") format("truetype"), url("../fonts/Dosis-700/Dosis-700.svg#Dosis") format("svg"); }

@font-face {
  font-family: 'DosisExtraBold';
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Dosis-800/Dosis-800.eot");
  src: url("../fonts/Dosis-800/Dosis-800.eot?#iefix") format("embedded-opentype"), local("Dosis ExtraBold"), local("Dosis-800"), url("../fonts/Dosis-800/Dosis-800.woff2") format("woff2"), url("../fonts/Dosis-800/Dosis-800.woff") format("woff"), url("../fonts/Dosis-800/Dosis-800.ttf") format("truetype"), url("../fonts/Dosis-800/Dosis-800.svg#Dosis") format("svg"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #536783;
  font-size: 18px;
  background-color: white; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

.title {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #536783;
  font-size: 36px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase; }

.subtitle {
  font-family: 'DosisLight', 'Arial', sans-serif;
  color: #536783;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  width: 653px;
  margin: 0 auto; }

.subtitle--whatme {
  padding-bottom: 43px; }

.subtitle--services {
  padding-bottom: 55px; }

.title--works {
  padding-bottom: 33px; }

.title--tweets {
  color: white;
  padding-bottom: 17px;
  font-family: 'DosisMedium', 'Arial', sans-serif;
  color: white;
  font-size: 48px;
  font-weight: 500;
  line-height: 41px;
  text-align: center; }

.tweets__wrap .bx-wrapper .bx-pager {
  bottom: inherit; }

.subtitle--posts {
  padding-bottom: 56px; }

.post_comment .fa-comments, .post__category .fa-lightbulb-o {
  color: #91a7c6;
  padding-right: 7px; }

.subtitle--pricing {
  padding-bottom: 39px; }

.arrow {
  background: url("../img/control/sprite_control.png") no-repeat;
  display: block;
  position: absolute;
  cursor: pointer; }

.arrow--left {
  width: 35px;
  height: 35px;
  background-position: -2px -2px;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%); }
  .arrow--left:hover {
    background-position: -41px -2px; }

.arrow--right {
  width: 35px;
  height: 35px;
  background-position: -2px -41px;
  top: 50%;
  right: 25%;
  transform: translate(-50%, -50%); }
  .arrow--right:hover {
    background-position: -41px -41px; }

.control {
  background: url("../img/control/control_sprite.png") no-repeat;
  display: block;
  cursor: pointer;
  width: 35px;
  height: 35px; }

.control--left {
  background-position: -2px -2px;
  margin-right: 16px; }
  .control--left:hover {
    background-position: -41px -2px; }

.control--right {
  background-position: -2px -41px; }
  .control--right:hover {
    background-position: -41px -41px; }

.control__link {
  width: 100%;
  height: 100%; }

.dot {
  margin-top: 11px;
  cursor: pointer; }
  .dot:before, .dot:after {
    content: "";
    display: table; }
  .dot:after {
    clear: both; }

.dot__control {
  display: block;
  border-radius: 50%;
  border: 3px solid #c9d0da;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-right: 7px;
  float: left;
  transition: .7s; }
  .dot__control:last-child {
    margin-right: 16px; }
  .dot__control:hover {
    background-color: #889eb8;
    border: 3px solid #889eb8; }

.header {
  background: url("../img/background.jpg") no-repeat top center;
  height: 783px;
  position: relative; }

.header__wrap {
  width: 1025px;
  margin: 0 auto;
  padding: 17px 0;
  z-index: 100; }
  .header__wrap:before, .header__wrap:after {
    content: "";
    display: table; }
  .header__wrap:after {
    clear: both; }

.header_box {
  background-color: rgba(255, 255, 255, 0);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(213, 232, 255, 0.45) 100%);
  box-shadow: 5px 9px 29px 0 rgba(46, 8, 59, 0.34);
  height: 105px; }

.logo {
  float: left;
  padding: 0 20px;
  transition-duration: .5s; }
  .logo:hover {
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: inset 0 5px 8px 0 rgba(67, 74, 132, 0.36); }

.logo__link {
  width: 151px;
  height: 60px;
  overflow: hidden; }

.nav {
  float: right;
  padding-top: 13px; }
  .nav:before, .nav:after {
    content: "";
    display: table; }
  .nav:after {
    clear: both; }

.nav__item {
  box-sizing: border-box;
  border: solid 1px transparent;
  float: left;
  padding: 11px 21px 9px;
  position: relative;
  transition: 0.5s; }
  .nav__item:after {
    content: "";
    position: absolute;
    top: 3px;
    right: -7px;
    width: 12px;
    height: 37px;
    display: block;
    background: url("../img/menu/separator.png") no-repeat; }
  .nav__item:last-of-type:after {
    display: none; }
  .nav__item:hover {
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: inset 0 5px 8px 0 rgba(67, 74, 132, 0.36); }
    .nav__item:hover:after {
      display: none; }

.nav__link {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #e2fefd;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase; }

.slider {
  width: 100%;
  height: 679px;
  position: absolute;
  top: 105px;
  left: 0; }

.slider__list {
  height: 679px;
  background-color: transparent; }

.slider__item {
  height: 679px;
  background-color: transparent; }

.slider__arrow a.bx-next, .slider__arrow a.bx-prev {
  width: 100%;
  height: 100%;
  display: block;
  text-indent: -9999px; }

.promo__box {
  width: 1025px;
  position: absolute;
  text-align: center;
  top: 491px;
  left: 50%;
  transform: translate(-50%, -50%); }

.promo__title {
  font-family: 'DosisBold', 'Arial', sans-serif;
  color: #e7fffe;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  padding-bottom: 20px;
  animation-name: zoomIn;
  animation-duration: 0.75s; }

.promo__desc {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #e9edf2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  padding-bottom: 20px;
  animation-name: zoomIn;
  animation-duration: 0.75s; }

.promo__image {
  height: 670px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: -334px;
  transform: translate(-50%, -50%);
  opacity: 1; }

.promo__pic {
  width: auto;
  height: auto; }

.btn {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative; }
  .btn:active {
    top: 5px; }

.btn--animate {
  animation-name: zoomIn;
  animation-duration: 0.75s; }

.btn--white {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #e7fffe;
  border: solid 1px white;
  background-color: transparent;
  padding: 11px 21px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  border-radius: 24px;
  transition: background-color 0.5s ease;
  font-size: 12px;
  font-weight: 300; }
  .btn--white:hover, .btn--white:focus {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)), white;
    color: black;
    text-shadow: none; }

.btn--green {
  font-family: 'DosisSemiBold', 'Arial', sans-serif;
  color: #e9edf2;
  border-radius: 10px;
  background: linear-gradient(0deg, #39b54a 0%, #8dc63f 100%);
  box-shadow: inset 0px -3px 0px 0px rgba(8, 130, 67, 0.75);
  padding: 18px 34px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  z-index: 0;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1); }
  .btn--green:before {
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)), white;
    box-shadow: inset 0px -3px 0px 0px gray;
    content: '';
    opacity: 0;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    z-index: -1;
    transform: scaleX(0); }
  .btn--green:hover, .btn--green:focus {
    color: #39b54a;
    transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1); }
    .btn--green:hover:before, .btn--green:focus:before {
      opacity: 1;
      transition: transform 0.2s ease-in, opacity 0.2s ease-in;
      transform: scaleX(1); }

.btn--pricing {
  width: 154px;
  margin: 0 auto; }

.whatme {
  padding-top: 97px;
  padding-bottom: 81px;
  background-color: #e9edf2; }

.whatme__wrap {
  width: 967px;
  margin: 0 auto;
  text-align: center; }

.whatme__row {
  width: 967px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.whatme__item {
  width: 252px; }

.chart {
  position: relative; }

.chart__circle {
  width: 223px;
  height: 223px;
  margin: 0 auto 38px; }

.chart__percent {
  position: absolute;
  left: 0;
  right: 0;
  top: 109px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #92a4bd;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-align: center; }

.chart__title {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #5465a2;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 16px; }

.chart__desc {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #7a829e;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center; }

.services {
  width: 984px;
  margin: 78px auto 35px; }

.service__title {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #5465a2;
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 15px; }

.service__desc {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #7a829e;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left; }

.services__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 984px;
  margin: 0; }

.services__item {
  -ms-flex-preferred-size: 441px;
      flex-basis: 441px;
  width: 441px;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.service__picture {
  width: 120px;
  height: 121px;
  transition: .5s; }
  .service__picture:hover {
    transform: rotate(360deg); }

.service__box {
  width: 290px;
  -ms-flex-preferred-size: 290px;
      flex-basis: 290px;
  padding-top: 11px; }

.works {
  background-color: #e9edf2; }

.works__wrap {
  width: 1005px;
  margin: 0 auto;
  padding-top: 95px;
  padding-bottom: 85px; }

.works__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 35px; }

.works__item {
  position: relative;
  margin-right: 15px;
  margin-bottom: 15px; }
  .works__item:nth-of-type(3n + 3) {
    margin-right: 0; }
  .works__item:hover .popup {
    visibility: visible;
    opacity: 1; }
  .works__item:hover .popup_image {
    animation-name: zoomIn;
    animation-duration: 0.5s; }
  .works__item:hover .btn {
    animation-name: zoomIn;
    animation-duration: 0.5s; }
  .works__item:hover .popup__title {
    animation-name: zoomIn;
    animation-duration: 0.5s; }

.works__photo {
  width: 324px;
  height: 273px; }

.works__image {
  width: auto;
  height: 100%; }

.works__control {
  text-indent: -9999px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.nav-works {
  padding-bottom: 47px; }

.nav-works__list {
  text-align: center; }

.nav-works__item {
  display: inline-block;
  font-size: 0;
  padding: 8px 16px;
  position: relative;
  transition: 0.5s;
  border: solid 2px transparent; }
  .nav-works__item:hover {
    border: solid 2px #ced9e7;
    border-radius: 25px; }
    .nav-works__item:hover .nav-works__link {
      font-weight: 700; }

.nav-works__link {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #536783;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: center; }
  .nav-works__link:before {
    content: "\2022";
    color: #96a2b2;
    margin-right: 5px; }

.popup {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #40224b 0%, #2b5694 100%);
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.5s linear 0s;
  opacity: 0; }

.popup__wrap {
  margin: 15px;
  border: solid 1px white;
  height: calc(100% - 30px); }

.popup_image {
  padding-bottom: 25px;
  padding-top: 50px;
  transition: all 0.3s linear 0s; }

.popup__title {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 15px; }

.popup--animate {
  animation-name: bounceInDown;
  animation-duration: 0.75s; }

.tweets {
  background-color: #002e7e;
  background: url("../img/tweets/background.jpg") top center no-repeat;
  background-size: cover;
  padding-top: 116px;
  padding-bottom: 62px; }

.tweets__wrap {
  width: 1000px;
  margin: 0 auto;
  text-align: center; }

.tweet__text {
  font-family: 'DosisMedium', 'Arial', sans-serif;
  color: #e9edf2;
  font-size: 30px;
  font-weight: 500;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 17px; }

.tweet__wrap {
  text-align: center; }

.tweet__author {
  font-family: 'DosisMedium', 'Arial', sans-serif;
  color: #e9edf2;
  font-size: 30px;
  font-weight: 500;
  line-height: 41px;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 8px; }

.tweet__date {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: rgba(233, 237, 242, 0.61);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 39px;
  text-transform: uppercase; }

.posts {
  background-color: #e9edf2;
  padding-top: 92px;
  padding-bottom: 85px; }

.posts__wrap {
  width: 1005px;
  margin: 0 auto; }

.posts__item {
  width: 324px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  background-color: #f4f6f9; }
  .posts__item:hover {
    box-shadow: 7px 13px 24px 0 rgba(28, 12, 46, 0.4); }
    .posts__item:hover .post__container {
      border-left: solid 1px #3e2752;
      border-right: solid 1px #3e2752; }
    .posts__item:hover .post__footer {
      border-bottom: solid 1px #3e2752;
      border-left: solid 1px #3e2752;
      border-right: solid 1px #3e2752;
      background: linear-gradient(0deg, #40224b 0%, #2b5694 100%); }
    .posts__item:hover .post__hr {
      background-color: #304982; }

.posts__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 51px;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.post__picture {
  width: 324px;
  height: 256px;
  overflow: hidden;
  position: relative; }

.post__image {
  width: 100%;
  height: auto; }

.post__container {
  background-color: #f4f6f9;
  border-left: solid 1px #b8c7da;
  border-right: solid 1px #b8c7da;
  text-align: left;
  padding: 18px 17px 14px; }

.post__square {
  position: absolute;
  background-color: #f4f6f9;
  width: 38px;
  height: 38px;
  text-indent: -9999px;
  left: 143px;
  transform: rotate(45deg);
  bottom: -30px; }

.post__link {
  font-family: 'DosisBold', 'Arial', sans-serif;
  color: #536783;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 7px;
  display: inline-block; }
  .post__link:hover {
    color: #2c528f;
    animation-name: pulse;
    animation-duration: 0.5s; }

.post__text {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #91a7c6;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  text-transform: uppercase;
  padding-right: 5px; }

.post__url {
  display: inline-block;
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #91a7c6;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: underline;
  text-align: left;
  text-transform: uppercase;
  padding-right: 5px; }
  .post__url:hover {
    color: #2c528f;
    animation-name: pulse;
    animation-duration: 0.3s; }

.post__url--footer:hover {
  color: white; }

.post__info {
  padding-bottom: 14px; }

.post__hr {
  color: #b8c7da;
  border: none;
  height: 1px;
  background-color: #b8c7da;
  margin-bottom: 16px; }

.post__excerpt {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #536783;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  text-align: left; }

.post__footer {
  background-color: rgba(206, 217, 231, 0.5);
  border-bottom: solid 1px #b8c7da;
  border-left: solid 1px #b8c7da;
  border-right: solid 1px #b8c7da;
  padding: 11px 16px 12px 17px;
  margin-top: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.post__foo-text {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #91a7c6;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase; }

.posts__control {
  text-indent: -9999px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.pricing {
  padding-top: 77px;
  padding-bottom: 84px;
  width: 1005px;
  margin: 0 auto; }

.pricing__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  padding-bottom: 84px; }

.pricing__item {
  width: 324px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  background-color: #e9edf2;
  padding-bottom: 34px;
  border: solid 3px white; }
  .pricing__item:hover {
    border: solid 3px #f99535; }
    .pricing__item:hover .pricing__container {
      background-color: #f99535; }
    .pricing__item:hover .pricing__value {
      color: white; }
    .pricing__item:hover .pricing__name {
      background: linear-gradient(0deg, #ed1c24 0%, #f26522 100%); }
    .pricing__item:hover .btn--pricing {
      background: linear-gradient(0deg, #ed1c24 0%, #f26522 100%); }
      .pricing__item:hover .btn--pricing:hover, .pricing__item:hover .btn--pricing:focus {
        color: #f15d22; }

.pricing__name {
  font-family: 'DosisSemiBold', 'Arial', sans-serif;
  color: #e9edf2;
  font-size: 40px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  -webkit-mask-image: url("../img/pricing/alpha-mask.png");
          mask-image: url("../img/pricing/alpha-mask.png");
  background: linear-gradient(0deg, #40224b 0%, #2b5694 100%), #dae1e9;
  padding-top: 35px;
  padding-bottom: 33px;
  text-transform: uppercase; }

.pricing__value {
  font-family: 'DosisSemiBold', 'Arial', sans-serif;
  color: #2d528e;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 19px;
  text-transform: uppercase; }

.pricing__container {
  background-color: #dae1e9; }

.price__list {
  padding-top: 31px;
  padding-bottom: 21px; }

.price__item {
  font-family: 'DosisLight', 'Arial', sans-serif;
  color: #536783;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 9px;
  border-bottom: 1px solid #dae1e9; }
  .price__item:first-child {
    padding-top: 0; }
  .price__item:last-child {
    border-bottom: none; }
