.arrow {
  background: url("../img/control/sprite_control.png") no-repeat;
  display: block;
  position: absolute;
  cursor: pointer;
  //text-indent: -9999px;
}

.arrow--left {
  width: 35px;
  height: 35px;
  background-position: -2px -2px;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);

  &:hover {
    background-position: -41px -2px;
  }
}

.arrow--right {
  width: 35px;
  height: 35px;
  background-position: -2px -41px;
  top: 50%;
  right: 25%;
  transform: translate(-50%, -50%);

  &:hover {
    background-position: -41px -41px;
  }
}

.control {
  background: url("../img/control/control_sprite.png") no-repeat;
  display: block;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.control--left {
  background-position: -2px -2px;
  margin-right: 16px;

  &:hover {
    background-position: -41px -2px;
  }
}

.control--right {
  background-position: -2px -41px;

  &:hover {
    background-position: -41px -41px;
  }
}

.control__link {
  width: 100%;
  height: 100%;
}

.control__dots {
  margin-top: 11px;
  @include clearfix();
}

.control__dot {
  display: block;
  border-radius: 50%;
  border: 3px solid #c9d0da;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin-right: 7px;
  float: left;
  transition: .7s;

  &:last-child {
    margin-right: 16px;
  }

  &:hover {
    background-color: #889eb8;
    border: 3px solid #889eb8;
  }
}