.header {
  background: url('../img/background.jpg') no-repeat top center;
  height: 783px;
  position: relative;
}

.header__wrap {
  width: 1025px;
  margin: 0 auto;
  padding: 17px 0;
  @include clearfix();
  z-index: 100;
}

.header_box {
  background-color: rgba(255, 255, 255, 0);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(213, 232, 255, 0.45) 100%);
  box-shadow: 5px 9px 29px 0 rgba(46, 8, 59, 0.34);
  height: 105px;
}

.logo {
  float: left;
  padding: 0 20px;
  transition-duration: .5s;
  &:hover {
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: inset 0 5px 8px 0 rgba(67, 74, 132, 0.36);
  }
}

.logo__link {
  width: 151px;
  height: 60px;
  overflow: hidden;
}

.nav {
  float: right;
  @include clearfix();
  padding-top: 13px;
}

.nav__item {
  box-sizing: border-box;
  border: solid 1px transparent;
  float: left;
  padding: 11px 21px 9px;
  position: relative;
  transition: 0.5s;

  &:after {
    content: "";
    position: absolute;
    top: 3px;
    right: -7px;
    width: 12px;
    height: 37px;
    display: block;
    background: url("../img/menu/separator.png") no-repeat;
  }

  &:last-of-type:after {
    display: none;
  }

  &:hover {
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: inset 0 5px 8px 0 rgba(67, 74, 132, 0.36);

    &:after {
      display: none;
    }
  }
}

.nav__link {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #e2fefd;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;

}