.pricing {
  padding-top: 77px;
  //padding-bottom: 84px;
  width: 1005px;
  margin: 0 auto;
}

.pricing__box {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding-bottom: 77px;
}

.pricing__item {
  width: 324px;
  display: flex;
  flex-flow: column nowrap;
  background-color: #e9edf2;
  padding-bottom: 34px;
  border: solid 3px white;
  transition: .5s;

  &:hover {
    border: solid 3px #f99535;

    .pricing__container {
      background-color: #f99535;
    }

    .pricing__value {
      color: white;
    }

    .pricing__name {
      background: linear-gradient(0deg, #ed1c24 0%, #f26522 100%);
    }

    .btn--pricing {
      background: linear-gradient(0deg, #ed1c24 0%, #f26522 100%);

      &:hover, &:focus {
        color: #f15d22;
      }

    }
  }
}

.pricing__name {
  font-family: 'DosisSemiBold', 'Arial', sans-serif;
  color: #e9edf2;
  font-size: 40px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  mask-image: url("../img/pricing/alpha-mask.png");
  background: linear-gradient(0deg, #40224b 0%, #2b5694 100%), #dae1e9;
  padding-top: 35px;
  padding-bottom: 33px;
  text-transform: uppercase;
}

.pricing__value {
  font-family: 'DosisSemiBold', 'Arial', sans-serif;
  color: #2d528e;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 19px;
  text-transform: uppercase;
}

.pricing__container {
  background-color: #dae1e9;
}

.price__list {
  padding-top: 31px;
  padding-bottom: 21px;
}

.price__item {
  font-family: 'DosisLight', 'Arial', sans-serif;
  color: #536783;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 9px;
  border-bottom: 1px solid #dae1e9;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }
}