.promo {
}

.promo__box {
  width: 1025px;
  position: absolute;
  text-align: center;
  top: 491px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.promo__title {
  font-family: 'DosisBold', 'Arial', sans-serif;
  color: #e7fffe;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  padding-bottom: 20px;
  animation-name: zoomIn;
  animation-duration: 0.75s;
}

.promo__desc {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #e9edf2;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  padding-bottom: 20px;
  animation-name: zoomIn;
  animation-duration: 0.75s;
}

.promo__image {
  height: 670px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: -334px;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.promo__pic {
  width: auto;
  height: auto;
}