.subscribe {
  background-color: #eaeef3;
  padding-top: 80px;
  padding-bottom: 66px;
}

.subscribe__wrap {
  width: 1005px;
  margin: 0 auto;
}

.subscribe__text {
  font-family: 'Dosis', 'Arial', sans-serif;
  color: #99aabf;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  padding-left: 33px;
}

.subscribe__form{
  padding-bottom: 8px;
}