.whatme {
  padding-top: 97px;
  padding-bottom: 81px;
  background-color: #e9edf2;
}

.whatme__wrap {
  width: 967px;
  margin: 0 auto;
  text-align: center;
}

.whatme__row {
  width: 967px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.whatme__item {
  width: 252px;
}