.whatme {
  padding-top: 97px;
  padding-bottom: 81px;
  background-color: #e9edf2;
}

.whatme__wrap {
  width: 967px;
  margin: 0 auto;
  text-align: center;
}

.whatme__row {
  @include clearfix();
}

.whatme__item {
  float: left;
  width: 25%;
  margin-right: 10%;

  &:last-child {
    margin-right: 0;
  }
}